resource "kubernetes_config_map" "spin-prometheus-%DASHBOARD%" {
  metadata {
    name      = "%DASHBOARD%"
    namespace = "${var.namespace}"

    labels {
      app = "spin-manager"
      grafana_dashboard = "true"
    }
  }

  data {
